@model Exam_Web_MVC.Models.DeThi
@{
    ViewBag.Title = "Sửa đề thi";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Sửa Đề</h2>
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary btn-comeback" })
    </div>
    @using (Html.BeginForm())
    {
        <div class="box-action">
            <input type="submit" value="Lưu lại" class="btn btn-primary" />
        </div>
        <div class="card-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DeThiID)
                @Html.HiddenFor(model => model.GiaoVienID)

                <div class="form-group row">
                    <div class="control-label col-md-2">Môn học</div>
                    <div class="col-md-10">
                        @Html.DropDownList("MonHocID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MonHocID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="control-label col-md-2">Tên đề</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenDeThi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDeThi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="control-label col-md-2">Thời gian làm bài</div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ThoiGianLamBai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThoiGianLamBai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="control-label col-md-2">Loại đề</div>
                    <div class="col-md-10">
                        @Html.DropDownList("LoaiDe", new List<SelectListItem> {
                            new SelectListItem{ Text="Luyện Tập",Value="revision"},
                            new SelectListItem{ Text="Thi Thử",Value="test"},
                            new SelectListItem{ Text="Thi Thật",Value="final test"} },
                            htmlAttributes: new { @class = "form-control", @onchange = "CheckLoaiDe()" }
                        )
                    </div>
                </div>

                <div class="form-group row">
                    <div class="control-label col-md-2">Bắt đầu</div>
                    <div class="col-md-3">
                        <div class="input-group date form_datetime" data-date="" data-date-format="dd/mm/yyyy hh:ii">
                            <input type="text" value="@ViewBag.strStartDate" name="strStartDate" class="form-control" readonly="readonly" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
