@model PagedList.IPagedList<Exam_Web_MVC.Models.CauHoiEntity>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách câu hỏi";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int stt = ViewBag.stt;
}

<div class="card">
    <div class="card-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>Danh sách câu hỏi</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="box-action">
        @using (Html.BeginForm("Index", "DeThiManagement", FormMethod.Get, new { @class = "form-inline margin-bottom", @role = "form" }))
        {
            @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
            @Html.TextBox("keysearch", null, new { @class = "form-control", @placeholder = "Tìm tên..." })
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
        }
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <tr>
                <th>STT</th>
                <th>
                    Câu hỏi
                </th>
                <th style="width: 40%">
                    Đáp án
                </th>
                <th style="width: 80px;">
                    Đáp án
                </th>
                <th style="width: 120px;">
                    Độ khó
                </th>
                <th style="width: 100px;">
                    Môn học
                </th>
                <th style="width: 100px;"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiDungCauHoi)
                    </td>
                    <td>
                        <div><b>Đáp án A: </b>@Html.DisplayFor(modelItem => item.Answer_A)</div>
                        <div><b>Đáp án B: </b>@Html.DisplayFor(modelItem => item.Answer_B)</div>
                        <div><b>Đáp án C: </b>@Html.DisplayFor(modelItem => item.Answer_C)</div>
                        <div><b>Đáp án D: </b>@Html.DisplayFor(modelItem => item.Answer_D)</div>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.CauTraLoiDung)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoKho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonHoc)
                    </td>
                    <td>
                        <div class="text-center">
                            @Html.ActionLink("Sửa", "Edit", new { id = item.CauHoiID })
                            <span>|</span>
                            @Html.ActionLink("Xóa", "Delete", new { id = item.CauHoiID })
                        </div>
                    </td>
                </tr>
                stt++;
            }
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, keysearch = ViewBag.keysearch }))
    </div>
</div>

